:root {
    /* Cores — paleta verde Bullex */
    --primary: #76E000;
    --secondary: #5dff00;
    --accent: #98ff42;
    --primary-dark: #5aa600;
    --background: #02040A;
    --surface: #0c100e;
    --text: #D8DCE5;
    --white: #FFFFFF;

    /* Layout */
    --container: 1280px;
    --header-height: 82px;

    /* Bordas */
    --radius: 16px;

    /* Transições */
    --transition: .3s ease;
}
